name: Release slipstream

on:
  push:
    tags:
      - "v*.*.*"

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libssl-dev ninja-build meson clang

      - name: Configure Meson
        env:
          CC: clang
          CXX: clang++
        run: |
          meson setup build

      - name: Build with Meson
        run: |
          meson compile -C build slipstream-client slipstream-server

      - name: Rename Binaries
        run: |
          VERSION=${{ github.ref_name }}
          mv ${{github.workspace}}/build/slipstream-client ${{github.workspace}}/build/slipstream-client-${VERSION}-linux-x86_64
          mv ${{github.workspace}}/build/slipstream-server ${{github.workspace}}/build/slipstream-server-${VERSION}-linux-x86_64

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          draft: true
          generate_release_notes: true
          files: |
            build/slipstream-client-*
            build/slipstream-server-*